# bxh-music-bot - Bot Configuration

# [REQUIRED] Discord Bot Token
# Get one at: https://discord.com/developers/applications
DISCORD_TOKEN=your_token_here

# [OPTIONAL] Spotify Integration
# Get these at: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=your_spotify_id
SPOTIFY_CLIENT_SECRET=your_spotify_secret

# [OPTIONAL] Genius Lyrics
# Get one at: https://genius.com/api-clients
GENIUS_TOKEN=your_genius_token
